{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>BASE Page</title>
    {% endblock %}
    <!--getbootstrap.com ,u can find this code over there-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
  
    {% include "partial/_topbar.html" %}  <!--giving path-->
    {% include "partial/_navbar.html" %}
    {% block content %}
      <div class="container">
        <div class="jumbotron">
            <h1>Welcome to Base page</h1>
            <img src="{% static 'images/flower.jpg'%}" alt="image not found" height="100" width="100">
        </div>
      </div>
    {% endblock %}
    {% include "partial/_footer.html" %}
   
    
    
</body>
</html>